*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
header{
  width: 100%;
  height: auto;
  font-family: "Share Tech", sans-serif;
}
nav{
  width: 100%;
  padding: 20px 10px 20px 10px;
  background-color: rgb(0, 7, 20);
  position: fixed;
  top: 0px;
}
.navbar{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: whitesmoke;
}
.logo{
  width: 10%;
  font-size: 20px;
}
.nav-links{
  width: 60%;
}
.nav-links>ul{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  gap: 60px;
  font-size: 22px;
  text-transform: uppercase;
}
.mode-and-user{
  width: 15%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
  font-size: 20px;
}
.bars{
  display: none;
}
.darkmode-animation{
  background-color:rgb(0, 7, 20);
  color: whitesmoke;
}

@media (max-width:700px) {
  .bars{
    display: block;
    font-size: 20px;
  }
  .nav-links{
    display: none;
  }
  .mode-and-user{
    width: 80%;
  }
  .nav-links-animation{
    display: flex;
    width: 100%;
    position: absolute;
    top: 62px;
  
    right: 0px;
    height: 97vh;
    justify-content: center;
    align-items: center;
   background-color: rgb(247, 245, 245);
   animation: gonavanimation 1s ease-in-out forwards;

  }
   
  @keyframes gonavanimation {
    from{
      width: 0%;
    }
    to{
      width: 100%;
    }
  
  }
  .nav-links>ul{
  display: flex;
  justify-content: center;
  align-items: center;
flex-direction: column;
color: rgb(0, 7, 20);
font-size: 25px;
}
}