*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box; font-family: "Share Tech", sans-serif;
}
.body-content{
  display: none;
}
.loading-page{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh; background-color: rgb(233, 231, 231);
}
.loadingpage-body{
 width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
 
 
}
.loadingpage-logo{
  overflow: hidden;
  padding: 10px;
 
}
h2{
  margin-top: 20px;
  margin-left: 20px;
  text-transform: uppercase;
  display: none;
}
.loadingpage-logo>i{
  color: rgb(0, 7, 20);
  font-size: 100px;
 z-index: -3;
}

header{
  width: 100%;
  height: auto;
}
nav{
  width: 100%;
  padding: 20px 10px 20px 10px;
  background-color: rgb(0, 7, 20);
  position: fixed;
  top: 0px;
}
.navbar{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: whitesmoke;
}
.logo{
  width: 10%;
  font-size: 30px;
 color: whitesmoke;
}

.nav-links{
  width: 70%;
}
.nav-links>ul{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
  
  font-size: 22px;
  text-transform: uppercase;
}
.mode-and-user{
  width: 10%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
  font-size: 20px;
}
.bars{
  display: none;
}
body.darkmode-animation{
  background-color:rgb(0, 7, 20);
  color: whitesmoke;
}

.slider {
  width: 100%;
 height: auto;
  position: absolute;
  top: 64px;
 
  overflow: hidden; /* Hides extra slides off-screen */
}

.slide-container {
  width: 100%;
  height: 100%;
  display: flex;
 
  transition: transform 0.5s ease-in-out; /* Smooth transition when sliding */
}

.slide {
  min-width: 100%; /* Prevents slides from shrinking */
  height: 100%;
  padding: 0px 100px 0px 90px;
  position: relative; 
  background-color:rgb(233, 231, 231);
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* Keeps the button positioned inside the slide */
}
.slide>img{
  width: 60%;
}


/* Button centered over the image */

.shopdiv{
  display: flex;
  justify-content: flex-start;
  width: 30%;
  flex-direction: column;
  align-items: center;
  gap: 15px;
 
}
.shopdiv>button{
  font-size: 25px;
  background-color: whitesmoke;
  border: none;
  padding: 10px 30px 10px 30px;
  text-transform: uppercase;

}
.shopdiv > button:hover {
  color: whitesmoke;
 
  background-color:rgb(0, 7, 20);
  backdrop-filter: blur(10px);
  transition: border 1s ease-in-out;
}

.btn{
position: absolute;
  top:45%;
  left: 0%;
  width: 100%;
  display: flex;
  padding: 0px 20px 0px 20px;
  justify-content: space-between;
}
.pre, .next{
  background-color:transparent;
  font-size: 40px;
  border: none;
  color: rgb(0, 7, 20);
}
h1{
  font-size: 60px;
  color: rgb(0, 7, 20);
}
/* Container for navigation arrows */
@media (max-width:762px) {
  .slide{
    flex-direction: column;
    padding: 0px;
    gap: 10px;
  }
  .slide>img{
    width: 100%;
  }
 .shopdiv>button{
font-size: 22px;
width: 60%;
margin-left: 0px;

 }
 .shopdiv{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
 }
}

@media (max-width:700px) {
  .bars{
    display: block;
    font-size: 20px;
  }
  .nav-links{
    display: none;
  }
  .mode-and-user{
    width: 80%;
  }
  .nav-links-animation{
    display: flex;
    width: 100%;
    position: absolute;
    top: 62px;
  
    right: 0px;
    height: 97vh;
    justify-content: center;
    align-items: center;
   background-color: rgb(247, 245, 245);
   animation: gonavanimation 1s ease-in-out forwards;

  }
   
  @keyframes gonavanimation {
    from{
      width: 0%;
    }
    to{
      width: 100%;
    }
  
  }
  .nav-links>ul{
  display: flex;
  justify-content: center;
  align-items: center;
flex-direction: column;
color: rgb(0, 7, 20);
font-size: 25px;
}
.pre, .next{
  font-size: 20px;
}
}
